<% content_for :title do %>
  <%= t('.title') %>
<% end %>

<div class="home-main">
  <h1 class="c_shadow2"><%= t('.text1') %></h1><br>
  <h2 class="c_shadow2"><%= t('.text2') %><br><%= t('.text3') %></h2>
</div>
