/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
// @import "bootstrap";
// @import '/app/assets/bootstrap/stylesheets/_bootstrap-custom.scss';
@import '../bootstrap/stylesheets/_bootstrap-custom.scss';

// flash

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.border-primary-c {
  border-color: #007bff !important;
  padding: 0.25rem 0.25rem;
  margin: 0.25rem 0;
}

.bg-secondary-c {
  background-color: #a5b4c2 !important;
}

.border-light-c {
  border-color: #81dd90 !important;
}

.field_with_errors {
  display: contents;
}

.home-main {
  height: 80vh;
  background-image: url("/home_image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  h1 {
    text-align:center;
    padding:20vh 20vh 0 20vh;
    color: white;
    text-shadow: 5px 5px 20px rgba(255,255,0,1);
  }
  h2 {
    text-align:center;
    padding:0 20vh 20vh 20vh;
    color: white;
    text-shadow: 5px 5px 20px rgba(255,255,0,1);
  }
}